.title__container {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.35);
}

.movieCard {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0 ;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.card {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  gap:1rem;
  padding: 1rem;
  width: 95%;
  height: fit-content;
  background-color: rgba(10, 10, 10, .5);
  border-radius: 1rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.75);
  overflow: hidden;              
}

.card .movieImg {
  width: 25vw;
  height: 40vh;
}

.card .movieImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .movieInformation{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  width: 75%;  
}

.card .movieTitle {
  font-size: 2.5rem;
}

.card .movieOriginalTitle {
  font-size: 0.8rem;
}


.card .movieDescription {
  font-size: 1.2rem;
}

.card .movieAverage {
  font-weight: 800;
}
.movieListEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

.title__container .inputContainer input {
  width: 40%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
}

@media (max-width: 1000px) {
  .title__container {
    font-size: 0.5rem;
  }

  .card .movieImg {
    width: 50%;
  }

  .card .movieTitle {
    font-size: 1rem;
  }

  .card .movieDescription {
    font-size: 0.75rem;
  }

  .card .movieAverage {
    display: none;
  }
}