header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    padding: 1rem 3rem;
}

.links {
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: rgb(235, 235, 235);
    transition: 500ms ease-in-out;
}
.links a:hover {
    scale: 1.2;
}

