* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  background-color: rgba(35, 35, 35, 1);
  color: rgb(235, 235 ,235)
}

body #root > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
